<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TypeRacer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C39776D1DB9CD8400F5E5EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C3977811DB9CD8400F5E5EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C39778C1DB9CD8400F5E5EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
